#form-article{
    margin: 2em auto;
    text-align: center;
    padding: 1em;
    width: 50%;
}



#form-article main form{
    margin-top: 2em;
    border: 1px solid black;

}

input{
    margin-left: 1em;
}

textarea{
    margin-left: 1em;
}

#form-article main form button{
    margin: auto;
    margin-top: 2em;
}
#list-article{
    text-align: center;
}

.success-control{
    padding: 1em;
    border: 1px solid silver;
    background-color: darkgreen;
    border-radius: 12px;
    color: whitesmoke;
    margin-top: 2em;
}