#public-arch-list{
    margin: 0 auto;
    width: 90%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1em;
    text-align: center;
    
}
#public-arch-list header{
    grid-column: span 3;
}
#public-arch-list header h1{
    padding: 5em;
}

.architecture-item{
    background-color: seashell;
    border: 1px solid silver;
    border-radius: 12px;
    padding: 1em;
    box-shadow: 5px 10px #121212;
}

#private-arch-link{
    border: 1px solid silver;
    padding: 2em;
    text-decoration:none;
    transition: 0.3s;
   

}

#arch-link-control{
    margin: 2em 0 2em 0;
    padding: 2em;
    text-align: center;
    
    
}

#private-arch-link:hover{
    background-color:#a03434;
    color:silver;
}