#section-auth{
    margin: 10em auto;
    text-align: center;
    border: 1px solid black;
    padding: 1em;
    width: 50%;
}


.error-control{
    color: maroon;
    background-color: silver;
    display: block;
}