#private-archi-table{
    margin: 5em auto;
    width: 50%;
    text-align: center;

}

#private-archi-table td{
padding: 1em;
border: 1px solid silver;
}

.action-control{
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.action-control button{
    width: 100%;
}